In [2]:
#List Data Structures
# List is one of the sequence of the Data Structure
# Lists are collection of items[Strings, integer or even other lists]
# Lists are enclosed in []
# Each item in the list has an assigned index value.
# List are mutable, means item in the list can be changed.

emptyList = []
lst = ["one", "Two", "Three", "four"] # list of Strings
lst2 = [1,2,3,4] # list of integers
lst3 = [[1,2], [3,4]] # list of lists
lst4 = [1, "ramu", 24, 29.98] #list of different datatypes

print(lst4, lst)

print(len(lst4)) # Lenth of the list

[1, 'ramu', 24, 29.98] ['one', 'Two', 'Three', 'four']
4

In [3]:
#List Append
lst = ["One", "Two","Three","Four"]
lst.append("Five")
print(lst)

['One', 'Two', 'Three', 'Four', 'Five']

In [4]:
#List insert
lst = ["One", "Two","Three","Four"]
lst.insert(2,"Nine")
print(lst)

['One', 'Two', 'Nine', 'Three', 'Four']

In [5]:

#List Remove
lst = ["One", "Two","Three","Four"]
lst.remove("Two")
print(lst)

['One', 'Three', 'Four']

In [6]:
#List append
lst = ["One", "Two","Three","Four"]
lst1 = ["One", "Two","Three","Four", "Five"]
lst.append(lst1)
print(lst)

['One', 'Two', 'Three', 'Four', ['One', 'Two', 'Three', 'Four', 'Five']]

In [7]:
#List extend
lst = ["One", "Two","Three","Four"]
lst1 = ["One", "Two","Three","Four", "Five"]
lst.extend(lst1)
print(lst)

['One', 'Two', 'Three', 'Four', 'One', 'Two', 'Three', 'Four', 'Five']

In [8]:
#List Delete, #remove
lst1 = ["One", "Two","Three","Four", "Five"]
del lst1[1]
print(lst1)
a= lst1.pop(1)
print(a)
print(lst1)
lst1.remove("Five")
print(lst1)

['One', 'Three', 'Four', 'Five']
Three
['One', 'Four', 'Five']
['One', 'Four']

In [9]:
#Keyword 'in' is used to test if an item is in a list 
lst = ['one','two','three','four']
if 'two' in lst:
    print("AI")
if 'six' not in lst:
    print("ML")

AI
ML

In [10]:
#List Reverse
lst = ["one","Two","Three","Four"]
lst.reverse()
print(lst)

['Four', 'Three', 'Two', 'one']

In [11]:
#Sorting both in ascending and descending orders
numbers = [23,44,9,92,7,9,33]
sorted_lst = sorted(numbers)
print(sorted_lst)
sorted_lst = sorted(numbers, reverse = True)
print(sorted_lst)

[7, 9, 9, 23, 33, 44, 92]
[92, 44, 33, 23, 9, 9, 7]

In [12]:

lst = [1,20,5,5,4.3]
lst.sort()
print(lst) #sort the list and stored in itself

[1, 4.3, 5, 5, 20]

In [13]:
lst = [1,20,5,5,'b',4.3]
lst.sort()
#int and char are not sorted at once within the same list

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:

#List Having Multiple References
lst = [ 1,2,3,4,5]
abc = lst
abc.append(6)
print(lst)

In [ ]:
#String split to create a list using delimiter
lst = "My name is Faraz, I am Assistant Professor at Lingaya's Vidyapeeth"
a = lst.split(',')
print(a)
a = lst.split() # bydefault split is white-character: space or tab
print(a)

In [ ]:

#List Indexing
lst = [1,2,3,4]
print(lst[1])
print(lst[-1])

In [ ]:
#List SLicing
numbers = [1, 2, 3, 4, 5, 6]
print(numbers[:])
#print from index 0 to 3
print(numbers[0:4])
#numbers[startindex: endindex: stepsize]
print(numbers[::2])
print(numbers[2::2])

In [ ]:

#List extend using "+" sign
lst1 = [1,2,3]
lst2 = [4,5,6, "Naveen", "Waseem"]
new_lst = lst1 + lst2
print(new_lst)

In [ ]:

#List Count
numbers = [1,2,3,4,5,6,1,2,3,4,5,6,6,6,1,1,2,2,3,3,4]
print(numbers.count(6))

In [ ]:

#List looping
numbers = [1,2,3,4,5,6,1,2,3,4,5,6,6,6,1,1,2,2,3,3,4]
for i in numbers:
    print(i)

In [ ]:
#List Comprehensions: Provides a concise way to create lists
#Common applications are to make new lists where each elements
#is the result of some operations applied to each member of another
#sequence or iterable,or to create a subsequence of those elements
#that satisfy a certain condition.

#without list comprehension
squares = []
for i in range(10):
    squares.append(i**2) #power operator
print(squares)

In [ ]:
#using list comprehension
squares= [i**2 for i in range(10)]
print(squares)

In [ ]:
lst = [-10,-20,-30,-40,10,20,30,40]
new_lst = [i*2 for i in lst]
print(new_lst)

In [ ]:

lst = [-10,-20,-30,-40,10,20,30,40]
new_lst = [i*2 for i in lst if i>=0]
print(new_lst)

In [4]:
lst = [-10,-20,-30,-40,10,20,30,40]
new_lst = [(i,i*2) for i in lst if i>=0]
print(new_lst)

[(10, 20), (20, 40), (30, 60), (40, 80)]

In [ ]:

new_lst = [(i,i*2) for i in range(10) if i>8]
print(new_lst)

In [ ]:
# Nested List Comprehension

matrix = [
    [1,2,3,4],
    [3,4,5,6],
    [5,6,7,8]
]
transpose = []
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
        #print(lst)
    transpose.append(lst)
print(transpose)

In [ ]:
#with list comprehension
trasnpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

In [ ]:
##Tuples
#Tuples are similar to the list
#The difference between the two us that we can't change the lemenets
#of tuples once it is assigned wheras in the list, elemenets can be changes
# Tuples are immutable, whereas list are mutable

#empty typle
t = ()
print(t)
#tuple having integers
t = (1,2,3)
print(t)
#tuple with mixed datatypes
t = (1,2, "apple", 3, "Raju", 4.44, "Abc")
print(t)
#Nested Tuple
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
print(t)

In [ ]:
#For tuple paranthesis is not enough
t =("Satish")
type(t) # it is of string type instead of tuple

In [ ]:

#we need to put comma at the end, However if we have more than one element that there will be no proble
t = ("Satish",)
type(t)

In [ ]:
#Paranthesis is optional
t = "Satish",
print(type(t))
print(t)

In [ ]:
#Accessing Elements in Tuple
t = (1,2, "apple", 3, "Raju", 4.44, "Abc")
print(t[2])

In [ ]:
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
print(t[2])
print(t[2][3])
print(t[-2])

In [ ]:
t = (1,2,3,4,5,6)
print(t[1:4])
print(t[0:5:2])
print(t[:-2])
print(t[:-1:2])

In [ ]:
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
t[2] = "x"

In [ ]:
#List inside the tuple can be mutable
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
t[2][2] = "x"
print(t)

In [ ]:
#concatenate Tuple
t = (1,2,3) + (4,5,6)
print(t)

In [ ]:
#repeate the elements in a tuple for a given number of times
t = (("Satish",)*4)
print(t)

In [ ]:
#Tuple Deletion
#We cannot change the elements in a tuple.
#That also means we cannot delete or remove items from a tuple

#delete entire tuples using del keyword
t = (1,2,3,4,5)
del t

In [ ]:
#Tuple Count
t = (1,2,3,4,5,6,1,2,3,4,5)
t.count(1)

In [ ]:
#Tuple Index
t = (1,2,3,4,5,6,1,2,3,4,5)
print(t.index(3)) #return index of the first element is equal to 3

In [ ]:

#Tuple Membership
t = (1,2,3,4,5,6,1,2,3,4,5)
print(3 in t)
print(7 in t)

In [ ]:
#Built in Fuctions
#Tuple Length
t = (1,2,3,4,5,6)
print(len(t))
print(max(t))
print(min(t))
print(sum(t))

In [ ]:

#Tuple Sort
t = (3,5,1,2,7,9,2)
t1 = sorted(t)
print(t1)

In [ ]:
#List Data Structures
# List is one of the sequence of the Data Structure
# Lists are collection of items[Strings, integer or even other lists]
# Lists are enclosed in []
# Each item in the list has an assigned index value.
# List are mutable, means item in the list can be changed.

emptyList = []
lst = ["one", "Two", "Three", "four"] # list of Strings
lst2 = [1,2,3,4] # list of integers
lst3 = [[1,2], [3,4]] # list of lists
lst4 = [1, "ramu", 24, 29.98] #list of different datatypes

print(lst4, lst)

print(len(lst4)) # Lenth of the list

In [ ]:
#Sets is an unordered collection of items.
s = {1,2,3}
print(s)
print(type(s))

In [ ]:
#set does not allow duplicate values. They store only one instance.
s = {1,2,3,1,4}
print(s)

In [ ]:
#we can make set from a list
s = set([1,2,3,4,5,1])
print(s)

In [ ]:
#initialize a set with set() method
s = set()
print(type(s))

In [ ]:
#set is unordered, means we cannot index
s = {1,3}
print(s[1])

In [ ]:
#Sets are mutable; henace we can add elements to the sets

s.add(2)
print(s)

In [ ]:
#we can add multiple elements to the set
s.update([5,6,7])
print(s)

In [ ]:
#add list and set
s.update([8,9],{10,1,2,11})
print(s)

In [ ]:
#delete an item from the set, if an item does not exists in a set discard() does not raie an error
print(s)
s.discard(2)
print(s)

In [ ]:
#remove an item from the set, if item does not exists in a set then remove will raise an error.
s.remove(3)
print(s)
s.remove(12)
print(s)

In [ ]:
#we can remove item using pop() method
s = {1,2,3,4,5}
s.pop() #remove random element
print(s)

In [ ]:
s = {1,2,3,4,5}
s.clear() # remove all the itmes in set using clear() method
print(s)

In [ ]:
#Python Set Operations
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
print(set1 | set2)

In [ ]:
#another way of getting union of 2 sets
print(set1.union(set2))

In [ ]:
#intersection
print(set1 & set2)

In [ ]:
#use intersection function
print(set1.intersection(set2))

In [ ]:
#set difference: set of elements that are only in set1 but not in set2
print(set1 - set2)

In [ ]:
print(set2 - set1)

In [ ]:
#Symetric difference: set of elements in both set1 and set2
# excepts those that are common in both sets
#use ^ operator
print(set1 ^ set2)

In [ ]:
print(set1.symmetric_difference(set2))

In [ ]:
# find issubset
x = {"a", "b", "c", "d","e"}
y = {"c", "d"}
print("set 'x' is a subset of 'y' ?", x.issubset(y))
print("set 'y' is a subset of 'x' ?", y.issubset(x))

In [ ]:
#Frozen Sets has the characteristics of sets, but we cant changed it once it has been assigned
# While tuples are immputable lists, frozen sets are immutable sets
# Frozensets can be created using fucntion frozenset()
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])
set1.add(5)
print(set1[1]) #frozenset also does not support indexing

In [ ]:
#forzenset supports all others operations like union, intersection etc.

In [ ]:
#Dictionary (Hashtable Data Structure)
#Python Dictionary is unordered collection of items. While other compound data types
# have only values as an element, a dictionary has a key value pair
# Tuples and list are ordered, tuple is immutable while list us mutable.

#CREATING DICTIONARY
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)
print(my_dict,1)

#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc','xyz']}
print(my_dict)

# create empty dictionary using dict()

my_dict = dict()

#create a dict with list of tuples
my_dict = dict([(1, 'abc'), (2, 'xyz')])
print(my_dict)

In [ ]:
# Access Dictionary

my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
print(my_dict['name'])

#another way to accessing key
print(my_dict.get('address'))
print(my_dict.get('degree'))

In [ ]:
#dict ADD or Modify Elements
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
#update name
my_dict['name'] = 'raju'
print(my_dict['name'])
print(my_dict)

# add a value
my_dict['degree'] = 'M.Tech.'
print(my_dict)

In [ ]:
#Dictionary Delete or Remove Element
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
print(my_dict.pop('age'))
print(my_dict)

In [ ]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
#remove an arbitrary key
my_dict.popitem()

In [ ]:
#delete items
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
del squares[2]
print(squares)

In [ ]:
#removers all items
squares.clear()
print(squares)

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
del squares
print(squares)
#as while dictionary is removed from the memory that is why 
#it is showing name error

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
my_dict1 = squares.copy()
print(my_dict1)

In [ ]:
#fromkeys[seq[,v]] -> Return a new dictionary with keys from seq and values
subjects = {}.fromkeys(['Match','Physics','Hindi'],0)
print(subjects)

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
print(squares.items())
#returns a new view of the dictionary items (key, values)\

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
print(squares.keys())

In [ ]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
print(squares.values())

In [ ]:
#get list of all available methods and attributes of dictionary
d ={}
print(dir(d))

In [ ]:
#Dict Comprehension
#Dict comprehension are just like list comprehensions but for dictionaries
d = {'a': 1, 'b': 2, 'c':3}
for pairs in d.items():
    print(pairs)

In [ ]:
#creating a new dictionary with only paires where the values is largers that 2

d = {'a': 1, 'b': 2, 'c':3, 'd':4}
for k,v in d.items():
    if v>2:
        print(k,v)

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v>2}
print(new_dict)

In [ ]:
#we can also perform operations on the key value pairs
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e':5}
dd = {k + 'c': v *2 for k,v in d.items() if v>2}
print(d)
print(dd)

In [ ]:
#Strings
#In python, strings is a sequence of Unicode character 
mystring = "Hello"
print(mystring)
mystring = 'Hello'
print(mystring)
mystring='''Hello''' #for multi line comments  
print(mystring)

In [ ]:
#How to access characters in a string
mystring = "Hello"
print(mystring[0])
print(mystring[-1])
print(mystring[2:5])

print(mystring[15]) #String index out of range
print(mystring[1.5]) #string index must be an integer

In [ ]:
#HOW TO CHANGE OR DELETE a STRING
# Strings are immutable just like tuple. This means that elemnets of
# string cannot be changed once it is assigned.
#We can simply reassign different strings to the same name.
#However lists are mutable.

mystring = "Hello"
mystring[4] = 's' #strings are immutable

In [ ]:
#WE cannot delete or remove characters from a string. But deleting the string
#entirely is possible using the keyword del.
del mystring #delete complete string

In [ ]:
print(mystring)

In [30]:
#String Operations
s1 = "Hello"
s2 = "Satish"

print(s1+" "+s2)
print(s1 + s2)
print(s1 * 3) #repeat string three times
print('New string variable:',3* s1)

Hello Satish
HelloSatish
HelloHelloHello
New string variable: HelloHelloHello

In [ ]:
str = 'Python program'
print(str[7:9]*3) #Repeats the seventh and eighth character three times

In [ ]:
#Iteration through the string
count = 0
a = input()
for l in "hello world":
    if l == a:
        count += 1
print(count, 'letter found')

In [14]:
#String Membership Test
print('l' in 'Hello World') #in operator to test membership

True

In [15]:
print('or' in 'Hello World')

True

In [18]:
#String methods: some of the commonly used methods are 
#lower(), upper(), join(), split(), find(), replace()
"Hello".lower()

'hello'

In [19]:
"Hello".upper()

'HELLO'

In [20]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [22]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [23]:
"Good Morning".find("Mo")

5

In [24]:
'-'.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This-will-split-all-words-in-a-list'

In [32]:
"Bad Morning".replace("Bad","Good")

'Good Morning'

In [38]:
#Python Program to check where a String is Palindrome or not?
myStr = "MadaM"
myStr = myStr.lower()
revStr = reversed(myStr)

#if myStr == revStr: (this will not work as both myStr and revStr is pointed to some other location in memory)
if list(myStr)== list(revStr):
    print("given String is Palindrome")
else:
    print("given String is not a Palindrome")

given String is Palindrome

In [41]:
#Python Program to Sort Words in Alphbetic Order
myStr = "Python Program to Sort Words in Alphabetic Order"
words = myStr.split()
words.sort()
for word in words:
    print(word)

Alphabetic
Order
Program
Python
Sort
Words
in
to