## Python Lists

#### Lists are used to store multiple items in a single variable.
#### Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

##### List is one of the sequence of the Data Structure
##### Lists are collection of items[Strings, integer or even other lists]
##### Lists are enclosed in []
##### Each item in the list has an assigned index value.
##### List are mutable, means item in the list can be changed.

In [25]:
emptyList = []
lst = ["one", "Two", "Three", "four"] # list of Strings
lst2 = [1,2,3,4] # list of integers
lst3 = [[1,2], [3,4]] # list of lists
lst4 = [1, "ramu", 24, 29.98] #list of different datatypes

print(lst4, lst)

print(len(lst4)) # Lenth of the list

[1, 'ramu', 24, 29.98] ['one', 'Two', 'Three', 'four']
4

In [3]:
#List Append
lst = ["One", "Two","Three","Four"]
lst.append("Five")
print(lst)

['One', 'Two', 'Three', 'Four', 'Five']

In [26]:
#List insert
lst = ["One", "Two","Three","Four"]
lst.insert(2,"Nine")
print(lst)

['One', 'Two', 'Nine', 'Three', 'Four']

In [27]:

#List Remove
lst = ["One", "Two","Three","Four", "Two"]
lst.remove("Two")
print(lst)

['One', 'Three', 'Four', 'Two']

In [28]:
lst = ["One", "Two", "Three", "Four", "Two"]

# Remove all occurrences of "Two"
while "Two" in lst:
    lst.remove("Two")

print(lst)

['One', 'Three', 'Four']

In [6]:
#List append
lst = ["One", "Two","Three","Four"]
lst1 = ["One", "Two","Three","Four", "Five"]
lst.append(lst1)
print(lst)

['One', 'Two', 'Three', 'Four', ['One', 'Two', 'Three', 'Four', 'Five']]

In [7]:
#List extend
lst = ["One", "Two","Three","Four"]
lst1 = ["One", "Two","Three","Four", "Five"]
lst.extend(lst1)
print(lst)

['One', 'Two', 'Three', 'Four', 'One', 'Two', 'Three', 'Four', 'Five']

In [1]:
#List Delete, #remove
lst1 = ["One", "Two","Three","Four", "Five"]
del lst1[1]
print(lst1)
a= lst1.pop(1)
print(a)
print(lst1)
lst1.remove("Five")
print(lst1)

['One', 'Three', 'Four', 'Five']
Three
['One', 'Four', 'Five']
['One', 'Four']

In [9]:
#Keyword 'in' is used to test if an item is in a list 
lst = ['one','two','three','four']
if 'two' in lst:
    print("AI")
if 'six' not in lst:
    print("ML")

AI
ML

In [10]:
#List Reverse
lst = ["one","Two","Three","Four"]
lst.reverse()
print(lst)

['Four', 'Three', 'Two', 'one']

In [11]:
#Sorting both in ascending and descending orders
numbers = [23,44,9,92,7,9,33]
sorted_lst = sorted(numbers)
print(sorted_lst)
sorted_lst = sorted(numbers, reverse = True)
print(sorted_lst)

[7, 9, 9, 23, 33, 44, 92]
[92, 44, 33, 23, 9, 9, 7]

In [12]:

lst = [1,20,5,5,4.3]
lst.sort()
print(lst) #sort the list and stored in itself

[1, 4.3, 5, 5, 20]

In [13]:
lst = [1,20,5,5,'b',4.3]
lst.sort()
#int and char are not sorted at once within the same list

TypeError: '<' not supported between instances of 'str' and 'int'

In [9]:
#List Having Multiple References

lst = [1,2,3,4,5]
abc = lst
abc.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

In [11]:
#String split to create a list using delimiter
lst = "My name is Faraz, I am Assistant Professor at Lingaya's Vidyapeeth"
a = lst.split(',')
print(a)
a = lst.split() # bydefault split is white-character: space or tab
print(a)

['My name is Faraz', " I am Assistant Professor at Lingaya's Vidyapeeth"]
['My', 'name', 'is', 'Faraz,', 'I', 'am', 'Assistant', 'Professor', 'at', "Lingaya's", 'Vidyapeeth']

In [29]:
#List Indexing
lst = [1,2,3,4]
print(lst[1])
print(lst[-1])

2
4

In [30]:
#List SLicing
numbers = [1, 2, 3, 4, 5, 6]
print(numbers[:])
#print from index 0 to 3
print(numbers[0:4])
#numbers[startindex: endindex: stepsize]
print(numbers[::2])
print(numbers[2::2])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 3, 5]
[3, 5]

In [31]:
#List extend using "+" sign
lst1 = [1,2,3]
lst2 = [4,5,6, "Naveen", "Waseem"]
new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 5, 6, 'Naveen', 'Waseem']

In [32]:
#List Count
numbers = [1,2,3,4,5,6,1,2,3,4,5,6,6,6,1,1,2,2,3,3,4]
print(numbers.count(6))

4

### Updating List Values

In [46]:
# updating list values  
list = [1, 2, 3, 4, 5, 6]       
print(list)       
# It will assign value to the value to the second index     
list[2] = 10     
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]

In [47]:
# Adding multiple-element     
list[1:3] = [89, 78]       
print(list)

[1, 89, 78, 4, 5, 6]

In [ ]:
# It will add value at the end of the list    
list[-1] = 25    
print(list)

In [17]:

#List looping
numbers = [1,2,3,4,5,6,1,2,3,4,5,6,6,6,1,1,2,2,3,3,4]
for i in numbers:
    print(i)

1
2
3
4
5
6
1
2
3
4
5
6
6
6
1
1
2
2
3
3
4

### Adding Elements to the List

In [48]:
#Declaring the empty list    
l =[]    
#Number of elements will be entered by the user      
n = int(input("Enter the number of elements in the list:"))    
# for loop to take the input    
for i in range(0,n):       
    # The input is taken from the user and added to the list as the item    
    l.append(input("Enter the item:"))       
print("printing the list items..")     
# traversal loop to print the list items      
for i in l:     
    print(i, end = "  ")

Enter the number of elements in the list:5
Enter the item:1
Enter the item:2
Enter the item:3
Enter the item:
Enter the item:4
printing the list items..
1  2  3    4

### Python List Built-in Functions
### Python provides the following built-in functions, which can be used with the lists.

len()
max()
min()

In [49]:
# size of the list  
# declaring the list  
list1 = [12, 16, 18, 20, 39, 40]  
# finding length of the list  
len(list1)

6

In [50]:
# maximum of the list  
list1 = [103, 675, 321, 782, 200]  
# large element in the list  
print(max(list1))

782

In [51]:
# minimum of the list  
list1 = [103, 675, 321, 782, 200]  
# smallest element in the list  
print(min(list1))

103

##### List comprehension is a concise and powerful feature in Python that allows you to create new lists by applying expressions to each item in an existing iterable (e.g., list, tuple, string, etc.). It provides a compact and readable way to generate lists without the need for explicit loops.

#### The basic syntax of a list comprehension is as follows:
###### new_list = [expression for item in iterable if condition]

In [20]:
#without list comprehension
squares = []
for i in range(10):
    squares.append(i**2) #power operator
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
#using list comprehension
squares= [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
#Creating a list of squares of numbers from 1 to 5:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [34]:
lst = [-10,-20,-30,-40,10,20,30,40]
new_lst = [i*2 for i in lst]
print(new_lst)

[100, 400, 900, 1600, 100, 400, 900, 1600]

In [35]:
lst = [-10,-20,-30,-40,10,20,30,40]
new_lst = [i*2 for i in lst if i>=0]
print(new_lst)

[20, 40, 60, 80]

In [36]:
lst = [-10,-20,-30,-40,10,20,30,40]
new_lst = [(i,i*2) for i in lst if i>=0]
print(new_lst)

[(10, 20), (20, 40), (30, 60), (40, 80)]

In [37]:
new_lst = [(i,i*2) for i in range(10) if i>8]
print(new_lst)

[(9, 18)]

In [44]:
#Filtering out even numbers from a list:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [45]:
#Converting string characters to uppercase:
text = "hello world"
uppercase_text = [char.upper() for char in text]
print(uppercase_text)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [39]:
#with list comprehension
trasnpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 3, 5], [2, 4, 6], [3, 5, 7], [4, 6, 8]]

## Python Tuples
### Tuples are an immutable data type, meaning their elements cannot be changed after they are generated.
### Each element in a tuple has a specific order that will never change because tuples are ordered sequences.

### Forming a Tuple:
### All the objects-also known as "elements"-must be separated by a comma, enclosed in parenthesis (). Although parentheses are not required, they are recommended.

### Any number of items, including those with various data types (dictionary, string, float, list, etc.), can be contained in a tuple.

In [69]:
# Python program to show how to create a tuple    
# Creating an empty tuple    
empty_tuple = ()    
print("Empty tuple: ", empty_tuple)    
    
# Creating tuple having integers    
int_tuple = (4, 6, 8, 10, 12, 14)    
print("Tuple with integers: ", int_tuple)    
    
# Creating a tuple having objects of different data types    
mixed_tuple = (4, "Python", 9.3)    
print("Tuple with different data types: ", mixed_tuple)    
    
# Creating a nested tuple    
nested_tuple = ("Python", {4: 5, 6: 2, 8:2}, (5, 3, 5, 6))    
print("A nested tuple: ", nested_tuple)

Empty tuple:  ()
Tuple with integers:  (4, 6, 8, 10, 12, 14)
Tuple with different data types:  (4, 'Python', 9.3)
A nested tuple:  ('Python', {4: 5, 6: 2, 8: 2}, (5, 3, 5, 6))

In [72]:
# Python program to create a tuple without using parentheses    
# Creating a tuple    
tuple_ = 4, 5.7, "Tuples", ["Python", "Tuples"]    
# Displaying the tuple created    
print(tuple_)  
# Checking the data type of object tuple_    
print(type(tuple_) )

(4, 5.7, 'Tuples', ['Python', 'Tuples'])
<class 'tuple'>
<class 'TypeError'>

In [52]:

#tuple having integers
t = (1,2,3)
print(t)
#tuple with mixed datatypes
t = (1,2, "apple", 3, "Raju", 4.44, "Abc")
print(t)
#Nested Tuple
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
print(t)

()
(1, 2, 3)
(1, 2, 'apple', 3, 'Raju', 4.44, 'Abc')
(1, (1, 2, 3), [1, 2, 3, 'Raju', 'ABc', 2.22])

In [53]:
#For tuple paranthesis is not enough
t =("Satish")
type(t) # it is of string type instead of tuple

str

In [54]:

#we need to put comma at the end, However if we have more than one element that there will be no proble
t = ("Satish",)
type(t)

tuple

In [55]:
#Paranthesis is optional
t = "Satish",
print(type(t))
print(t)

<class 'tuple'>
('Satish',)

In [56]:
#Accessing Elements in Tuple
t = (1,2, "apple", 3, "Raju", 4.44, "Abc")
print(t[2])

apple

### Slicing
### Tuple slicing is a common practice in Python and the most common way for programmers to deal with practical issues. Look at a tuple in Python. Slice a tuple to access a variety of its elements. Using the colon as a straightforward slicing operator (:) is one strategy.

### To gain access to various tuple elements, we can use the slicing operator colon (:).

In [74]:
# Python program to show how slicing works in Python tuples    
# Creating a tuple    
tuple = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")    

# Using slicing to access elements of the tuple    
print("Elements between indices 1 and 3: ", tuple[1:3])    

# Using negative indexing in slicing    
print("Elements between indices 0 and -4: ", tuple[:-4])    

# Printing the entire tuple by using the default start and end values.     
print("Entire tuple: ", tuple[:])

Elements between indices 1 and 3:  ('Tuple', 'Ordered')
Elements between indices 0 and -4:  ('Python', 'Tuple')
Entire tuple:  ('Python', 'Tuple', 'Ordered', 'Immutable', 'Collection', 'Objects')

In [57]:
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
print(t[2])
print(t[2][3])
print(t[-2])

[1, 2, 3, 'Raju', 'ABc', 2.22]
Raju
(1, 2, 3)

In [58]:
t = (1,2,3,4,5,6)
print(t[1:4])
print(t[0:5:2])
print(t[:-2])
print(t[:-1:2])

(2, 3, 4)
(1, 3, 5)
(1, 2, 3, 4)
(1, 3, 5)

In [59]:
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
t[2] = "x"

TypeError: 'tuple' object does not support item assignment

In [60]:
#List inside the tuple can be mutable
t =(1, (1,2,3), [1,2,3,"Raju", "ABc",2.22])
t[2][2] = "x"
print(t)

(1, (1, 2, 3), [1, 2, 'x', 'Raju', 'ABc', 2.22])

In [61]:
#concatenate Tuple
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [62]:
#repeate the elements in a tuple for a given number of times
t = (("Satish",)*4)
print(t)

('Satish', 'Satish', 'Satish', 'Satish')

In [63]:
#Tuple Deletion
#We cannot change the elements in a tuple.
#That also means we cannot delete or remove items from a tuple

#delete entire tuples using del keyword
t = (1,2,3,4,5)
del t

In [64]:
#Tuple Count
t = (1,2,3,4,5,6,1,2,3,4,5)
t.count(1)

2

In [65]:
#Tuple Index
t = (1,2,3,4,5,6,1,2,3,4,5)
print(t.index(3)) #return index of the first element is equal to 3

2

In [66]:

#Tuple Membership
t = (1,2,3,4,5,6,1,2,3,4,5)
print(3 in t)
print(7 in t)

True
False

In [67]:
#Built in Fuctions
#Tuple Length
t = (1,2,3,4,5,6)
print(len(t))
print(max(t))
print(min(t))
print(sum(t))

6
6
1
21

In [68]:

#Tuple Sort
t = (3,5,1,2,7,9,2)
t1 = sorted(t)
print(t1)

[1, 2, 2, 3, 5, 7, 9]

## Python Sets
### Sets in Python are mutable, meaning you can add or remove elements after creating them. However, sets themselves are not allowed to contain duplicate values. Each element in a set must be unique, and any duplicate elements are automatically removed.

### Here's a brief summary of set characteristics:

##### Mutable: Sets are mutable, so you can modify them by adding or removing elements.

##### Unordered: Sets are unordered collections, and the elements do not have a specific order. Therefore, you cannot access elements by index.

##### Unique Elements: Each element in a set must be unique. If you try to add a duplicate element, it will be ignored.

In [75]:
#Sets is an unordered collection of items.
s = {1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [82]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Friday', 'Wednesday', 'Thursday', 'Saturday', 'Sunday', 'Monday', 'Tuesday'}
<class 'set'>
looping through the set elements ...
Friday
Wednesday
Thursday
Saturday
Sunday
Monday
Tuesday

In [83]:
#set does not allow duplicate values. They store only one instance.
s = {1,2,3,1,4}
print(s)

{1, 2, 3, 4}

In [85]:
#we can make set from a list
s = set([1,2,3,4,5,1])
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [86]:
#initialize a set with set() method
s = set()
print(type(s))

<class 'set'>

In [87]:
#set is unordered, means we cannot index
s = {1,3}
print(s[1])

TypeError: 'set' object is not subscriptable

In [88]:
#Sets are mutable; henace we can add elements to the sets

s.add(2)
print(s)

{1, 2, 3}

In [89]:
#we can add multiple elements to the set
s.update([5,6,7])
print(s)

{1, 2, 3, 5, 6, 7}

In [90]:
#add list and set
s.update([8,9],{10,1,2,11})
print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11}

In [91]:
#delete an item from the set, if an item does not exists in a set discard() does not raie an error
print(s)
s.discard(2)
print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11}
{1, 3, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
#remove an item from the set, if item does not exists in a set then remove will raise an error.
s.remove(3)
print(s)
s.remove(12)
print(s)

In [92]:
#we can remove item using pop() method
s = {1,2,3,4,5}
s.pop() #remove random element
print(s)

{2, 3, 4, 5}

In [ ]:
s = {1,2,3,4,5}
s.clear() # remove all the itmes in set using clear() method
print(s)

In [93]:
#Python Set Operations
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [94]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [95]:
#intersection
print(set1 & set2)

{3, 4, 5}

In [96]:
#use intersection function
print(set1.intersection(set2))

{3, 4, 5}

In [97]:
#set difference: set of elements that are only in set1 but not in set2
print(set1 - set2)

{1, 2}

In [98]:
print(set2 - set1)

{6, 7}

In [99]:
#Symetric difference: set of elements in both set1 and set2
# excepts those that are common in both sets
#use ^ operator
print(set1 ^ set2)

{1, 2, 6, 7}

In [100]:
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [101]:
# find issubset
x = {"a", "b", "c", "d","e"}
y = {"c", "d"}
print("set 'x' is a subset of 'y' ?", x.issubset(y))
print("set 'y' is a subset of 'x' ?", y.issubset(x))

set 'x' is a subset of 'y' ? False
set 'y' is a subset of 'x' ? True

In [102]:
#Frozen Sets has the characteristics of sets, but we cant changed it once it has been assigned
# While tuples are immputable lists, frozen sets are immutable sets
# Frozensets can be created using fucntion frozenset()
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])
set1.add(5)
print(set1[1]) #frozenset also does not support indexing

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#forzenset supports all others operations like union, intersection etc.

#### Mutable and ordered data structures: Lists
#### Mutable and unordered data structures: Sets, Dictionaries
#### Immutable and ordered data structures: Tuples

#### 1. Dictionary data structure is mutable
#### 2. The components of dictionary were made using keys and values.
#### 3. Keys must only have one component.
#### 4. Values can be of any type, including integer, list, and tuple.

In [103]:
# Access Dictionary

my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
print(my_dict['name'])

#another way to accessing key
print(my_dict.get('address'))
print(my_dict.get('degree'))

satish
guntur
None

In [104]:
#dict ADD or Modify Elements
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
#update name
my_dict['name'] = 'raju'
print(my_dict['name'])
print(my_dict)

# add a value
my_dict['degree'] = 'M.Tech.'
print(my_dict)

raju
{'name': 'raju', 'age': 27, 'address': 'guntur'}
{'name': 'raju', 'age': 27, 'address': 'guntur', 'degree': 'M.Tech.'}

In [105]:
#Dictionary Delete or Remove Element
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
print(my_dict.pop('age'))
print(my_dict)

27
{'name': 'satish', 'address': 'guntur'}

In [106]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}
#remove an arbitrary key
my_dict.popitem()

('address', 'guntur')

In [107]:
#delete items
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
del squares[2]
print(squares)

{3: 9, 4: 16, 5: 25, 6: 36}

In [108]:
#removers all items
squares.clear()
print(squares)

{}

In [109]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
del squares
print(squares)
#as while dictionary is removed from the memory that is why 
#it is showing name error

NameError: name 'squares' is not defined

In [110]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
my_dict1 = squares.copy()
print(my_dict1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [112]:
#fromkeys[seq[,v]] -> Return a new dictionary with keys from seq and values
subjects = {}.fromkeys(['Maths','Physics','Hindi'],0)
print(subjects)

{'Maths': 0, 'Physics': 0, 'Hindi': 0}

In [113]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
print(squares.items())
#returns a new view of the dictionary items (key, values)\

dict_items([(2, 4), (3, 9), (4, 16), (5, 25), (6, 36)])

In [114]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
print(squares.keys())

dict_keys([2, 3, 4, 5, 6])

In [115]:
squares = {2:4, 3:9, 4:16, 5:25, 6:36}
print(squares.values())

dict_values([4, 9, 16, 25, 36])

In [116]:
#get list of all available methods and attributes of dictionary
d ={}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [117]:
#Dict Comprehension
#Dict comprehension are just like list comprehensions but for dictionaries
d = {'a': 1, 'b': 2, 'c':3}
for pairs in d.items():
    print(pairs)

('a', 1)
('b', 2)
('c', 3)

In [118]:
#creating a new dictionary with only paires where the values is largers that 2

d = {'a': 1, 'b': 2, 'c':3, 'd':4}
for k,v in d.items():
    if v>2:
        print(k,v)

c 3
d 4

In [119]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4}

In [121]:
#we can also perform operations on the key value pairs
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e':5}
dd = {k + 'c': v *2 for k,v in d.items() if v>2}
print(d)
print(dd)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'ac': 2, 'bc': 4, 'cc': 6, 'dc': 8, 'ec': 10}

In [122]:
#Strings
#In python, strings is a sequence of Unicode character 
mystring = "Hello"
print(mystring)
mystring = 'Hello'
print(mystring)
mystring='''Hello''' #for multi line comments  
print(mystring)

Hello
Hello
Hello

In [123]:
#How to access characters in a string
mystring = "Hello"
print(mystring[0])
print(mystring[-1])
print(mystring[2:5])

print(mystring[15]) #String index out of range
print(mystring[1.5]) #string index must be an integer

H
o
llo

IndexError: string index out of range

In [124]:
#HOW TO CHANGE OR DELETE a STRING
# Strings are immutable just like tuple. This means that elemnets of string cannot be changed once it is assigned.
# We can simply reassign different strings to the same name.
#However lists are mutable.

mystring = "Hello"
mystring[4] = 's' #strings are immutable

TypeError: 'str' object does not support item assignment

In [125]:
#WE cannot delete or remove characters from a string. But deleting the string
#entirely is possible using the keyword del.
del mystring #delete complete string

In [126]:
print(mystring)

NameError: name 'mystring' is not defined

In [127]:
#String Operations
s1 = "Hello"
s2 = "Satish"

print(s1+" "+s2)
print(s1 + s2)
print(s1 * 3) #repeat string three times
print('New string variable:',3* s1)

Hello Satish
HelloSatish
HelloHelloHello
New string variable: HelloHelloHello

In [128]:
str = 'Python program'
print(str[7:9]*3) #Repeats the seventh and eighth character three times

prprpr

In [131]:
#Iteration through the string
count = 0
a = input()
for l in "hello world":
    if l == a:
        count += 1
print(count, 'letter found')

l
3 letter found

In [132]:
#String Membership Test
print('l' in 'Hello World') #in operator to test membership

True

In [133]:
print('or' in 'Hello World')

True

In [134]:
#String methods: some of the commonly used methods are 
#lower(), upper(), join(), split(), find(), replace()
"Hello".lower()

'hello'

In [135]:
"Hello".upper()

'HELLO'

In [136]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [139]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [140]:
"Good Morning".find("Mo")

5

In [141]:
'-'.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This-will-split-all-words-in-a-list'

In [142]:
"Bad Morning".replace("Bad","Good")

'Good Morning'

In [1]:
#Python Program to check where a String is Palindrome or not?
myStr = "MadaM"
myStr = myStr.lower()
revStr = reversed(myStr)

#if myStr == revStr: (this will not work as both myStr and revStr is pointed to some other location in memory)
if list(myStr)== list(revStr):
    print("given String is Palindrome")
else:
    print("given String is not a Palindrome")

given String is Palindrome

In [2]:
#Python Program to Sort Words in Alphbetic Order
myStr = "Python Program to Sort Words in Alphabetic Order"
words = myStr.split()
words.sort()
for word in words:
    print(word)

Alphabetic
Order
Program
Python
Sort
Words
in
to

In [3]:
numbers = [1, 3, 5, 7, 10, 15, 20]

# Loop through the numbers and perform conditional checks
for num in numbers:
    if num % 5 == 0:
        # Placeholder: Perform some action for numbers divisible by 5 later
        pass
        print(num, "number 5")
    elif num % 3 == 0:
        # Placeholder: Perform some action for numbers divisible by 3 later
        pass
        print(num, "number 3")
    else:
        # Placeholder: Perform some other action for other numbers later
        pass

3 number 3
5 number 5
10 number 5
15 number 5
20 number 5